body{
    margin: 0px;
    display: flex;              /*設置footer部分(flex:auto)可適時填充頁面*/
    flex-direction: column;
    height: 100vh;              /*可視區高度100%，1vh = 可視區高度/100 */
}
/* nav */
nav{
    width: 100%;                /*設定寬度為畫面100%*/
    position: fixed;            /*設定凍結視窗*/
    top: 0px;
    z-index: 999;                 /*設定z軸高度避免凍結視窗內容被body中其他物件覆蓋*/
    display: flex;
    padding: 10px 0px;           /*上下內縮10px*/
    background-color: #ffffff;
    font-family: "Noto Sans TC";
    border-bottom:1px solid #E8E8E8;    /*設定物件底線樣式*/
}
.navLeftside{
    flex: none;                 /*none為不彈性縮放，要給width*/
    width:210px;
    font-family: "Noto Sans";
    font-size: 30px;
    font-weight: bold;
    color: #F75000;
    display: flex;
    align-items: center;        /*文字在容器內垂直置中*/
    margin: 0px 0px 0px 10px;   /*向左外推10px*/
}
.hyperTitle{
    color: inherit;             /*繼承原本的文字顏色(不因超連結變色)*/
    text-decoration: none;      /*消除超連結底線*/
}
.search{
    flex: auto;
    display: flex;
    align-items: center;        /*文字在容器內垂直置中*/
    justify-content: center;
}
#keyword{    
    border-top-left-radius: 5px;        /*左上圓角*/
    border-bottom-left-radius: 5px;     /*左下圓角*/
    border-right: none;                 /*取消搜尋框右邊框線*/
}
input[id = keyword]{
    font-family: "Noto Sans TC";
    font-weight: bold;
    font-size: 16px;
    color: #757575;
    padding: 5px;               /*input物件欄位內文字內縮5px*/
}
.searchBtn{
    height: 32px;
    width: 40px;
    border: none;                                       /*取消btn物件邊框*/
    background-color: #F75000;                      /*設定buttom背景顏色*/
    background-image: url("/image/icon_search.png");    /*增加背景圖片*/
    background-repeat: no-repeat;                       /*背景圖片不要重複出現*/
    background-position: 50% 50%;                       /*背景圖片置於中間*/
    border-top-right-radius: 5px;                       /*右上角圓邊*/
    border-bottom-right-radius: 5px;                    /*右下角圓邊*/
    cursor: pointer;                                    /*改變滑鼠指標*/
    padding: 0px;                                       /*取消btn物件預設padding值*/
}
.navRightside{
    width: 170px;
    flex: none;                 /*none為固定，要給width*/
    list-style: none;           /*消除li的點*/
    padding-inline-start: 0px;  /*消除li的前縮排*/
    display: flex;
    justify-content: center;    /*物件在容器內水平置中*/
    align-items: center;        /*物件在容器內垂直置中*/
    margin: 0px;                /*取消margin設定*/
    color: #666666;
    font-weight: bold;
}
.navRightside>li{
    flex: none;
    padding: 10px;
    cursor: pointer;            /*改變滑鼠指標*/
}
/* main */
main{
    margin-top: 62px;           /*上外邊界避免被凍結視窗蓋住*/
    flex: none;                 /*依內容調整物件高度*/
}
.routeType{
    margin: 30px;          /*外邊界上下30px, 左右25px*/
    font-family: "Noto Sans TC";
}
.generalType{
    color: #ffffff;
    padding: 5px 0px 5px 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-top-left-radius: 5px;            /*左上角圓邊*/
    border-top-right-radius: 5px;           /*右上角圓邊*/
}
/*提供查無資料使用*/
.resultText{
    margin: 30px;          /*外邊界上下30px, 左右25px*/
    font-family: "Noto Sans TC";
    font-size: 30px;
    text-align: center;
}
/*藉由classList.toggle來控制物件顯示或隱藏*/
.itemHidden{
    display: none !important;       /*!important強制套用此css設定*/
}
.routeList{
    list-style: none;               /*消除li的點*/
    padding-inline-start: 0px;      /*消除li的前縮排*/
    display: flex;
    justify-content: flex-start;    /*物件在容器內水平靠右排列*/
    align-items: center;            /*物件在容器內垂直置中*/
    flex-wrap: wrap;                /*物件超過寬度換行*/
    margin: 0px;                    /*取消margin設定*/
    min-height: 30px;               /*設定ul部分最小高度30px*/
    border-left: solid #dddddd;
    border-bottom: solid #dddddd;
    border-right: solid #dddddd;
    border-bottom-left-radius: 5px;            /*左下角圓邊*/
    border-bottom-right-radius: 5px;           /*右下角圓邊*/
}
.routeList>li{
    position: relative;         /*當作基準元素給span覆蓋用*/
    font-size: 16px;
    font-weight: bold;
    flex: none;
    margin: 10px;
    cursor: pointer;            /*改變滑鼠指標*/
    line-height: 150%;
    border-bottom: solid #dddddd;
}
.routeUrlLink{
    position: absolute;         /*設定讓span覆蓋整個li空間*/
    width: 100%;                /*span高度 100% li*/
    height: 100%;               /*span寬度 100% li*/
    top: 0px;                   /*起點左上角*/
    left: 0px;
    z-index: 1;                 /*讓span向上浮一層*/
}
/* footer */
footer{
    flex: auto;                     /*footer依畫面調整高度延伸*/
    background-color: #757575;
    min-height: 80px;
    display: flex;
    flex-direction: column;         /*排列改為垂直對齊*/
    align-items: center;            /*水平置中*/
    justify-content: center;        /*垂直置中*/
    font-family: "Noto Sans TC";
    font-weight: bold;
    color: #ffffff;
}
.hyperTitleBlue{
    text-decoration: none;      /*消除超連結底線*/
}