<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Taipei Bus Radar</title>
    <link href="/css/route.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start地圖 -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <!-- end地圖 -->
    <script defer src="/js/route.js"></script>
    <link rel="icon" href="/image/favicon.ico" />
</head>

<body>
    <nav>
        <div class="navLeftside"><a class="hyperTitle" href="/">TaipeiBusRadar</a></div>
        <div class="timePart"></div>
        <div class="totalBusPart"></div>
        <ul class="navRightside">
            <li class="routePlan">路線規劃</li>
            <li class="routeData"><a class="hyperTitle" href="/routes">路線資訊</a></li>
            <li class="stationData">車站資訊</li>
        </ul>
    </nav>
    <main>
        <article id="mapId"></article>
        <aside class="routeStopSide">
            <section class="routeDetail">
                <div class="routeTitle"></div>
                <div class="routeSubTitle"></div>
            </section>
            <section class="routeStopsNow">
                <header class="depdestPart">
                    <div class="depdestTitle depdestTitle-show">
                        <div>去程往</div>
                    </div>
                    <div class="depdestTitle">
                        <div>返程往</div>
                    </div>
                </header>
                <article class="routeStopAll"></article>
            </section>
        </aside>
    </main>
    <footer>
        <div>COPYRIGHT © 2021 TaipeiBusRadar</div>
        <div>Data from <a class="hyperTitleBlue" href="https://ptx.transportdata.tw/PTX/">交通部公共運輸整合資訊流通服務平臺（PTX）</a>
        </div>
        <div>Icon made by <a class="hyperTitleBlue" href="https://www.iconshock.com">iconshock</a></div>
    </footer>
</body>

</html>