{% extends "base.html" %}

{% block css %}
<link href="/css/stops.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block map %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
{% endblock %}

{% block script %}
<script defer src="/js/stops.js"></script>
{% endblock %}

{% block nav %}
<div class="timePart"></div>
{% endblock %}

{% block main %}
<article id="mapId">
    <div class="locationBtn" title="我的位置(需開啟定位權限)"></div>
</article>
<aside class="searchSide">
    <div class="searchTitle">搜尋目標位置鄰近300公尺內站牌資訊</div>
    <section class="searchType">
        <div class="searchMehtod">方式 Ａ</div>
        <div class="searchContent">點擊地圖選擇欲查詢位置</div>
        <div class="hiddenElement">
            <div class="searchContent">目前選擇位置</div>
            <div class="searchContent">
                經度：<span id="longitude"></span>
            </div>
            <div class="searchContent">
                緯度：<span id="latitude"></span>
            </div>
            <div class="searchContent">
                <button class="searchBtn" id="method1">開始搜尋</button>
            </div>
        </div>
    </section>
    <section class="searchType">
        <div class="searchMehtod">方式 Ｂ</div>
        <div class="searchExample">( 例:臺北市忠孝西路一段49號 )</div>
        <div class="searchContent">
            <input type="text" id="keyword" placeholder="輸入地址查詢" />
        </div>
        <div class="errorAddress"></div>
        <div class="searchContent">
            <button class="searchBtn" id="method2">開始搜尋</button>
        </div>
    </section>
</aside>
{% endblock %}